<!DOCTYPE html>
<html lang="en">
 
  <%- include("../partial/head.ejs",{cssfile:"style-createProduct"}) %> 
<body>
    <%- include("../partial/header.ejs") %> 

    <form action="/product/productList" method="POST" class="create-form" enctype="multipart/form-data" id="id-form" >
  
        <div class="control-formulario" >
         <label>Nombre del Producto:</label>
         <input type="text" name="name" placeholder="nombre producto"  class="control" id="name"
         <%= locals.errors && errors.name ? "is-invalid": null %>
         value ="<%= locals.oldData ? oldData.name :null %>">
         <% if (locals.errors && errors.name){ %> 
             <div class="text-danger">
                 <%= errors.name.msg %> 
             </div>
             <% } %> 
             <div id="div-name"> 

             </div>
        </div>
      </div>
        <div class="control-formulario">
          <label>Precio:</label>
          <input type="number" name="price" class="control">
         </div>
         <div class="control-formulario">
          <label>Descuento:</label>
          <input type="number" name="discount" class="control">
         </div>
           <div class="control-formulario"> 
             <label>Genero:</label> 
              <select name="gender" class="control"> 
               <option value="Hombre">Hombre</option> 
               <option value="Mujer">Mujer</option>
              </select>
           </div>
           <div class="control-formulario">
            <label>Categoria:</label> 
            <p>
              <select name="category_id">
               <option value="" disabled selected>Elegir Categoria</option>
               <% categories.forEach(category => { %>
               <option value="<%= category.id %>"><%= category.name %> </option> 
               <% }) %>
              </select>
          </p>
          </div>
          <div class="control-formulario"> 
            <label>Marca:</label> 
             <select name="brand" class="control">
              <option value="adidas">Adidas</option>
              <option value="nike">Nike</option>
              <option value="puma">Puma</option> 
              <option value="topper">Topper</option> 
              <option value="under armour">Under Armour</option>
              <option value="penalty">Penalty</option> 
              <option value="umbro">Umbro</option>
              <option value="kappa">Kappa</option>
             </select>
          </div>
           <div class="control-formulario">
            <label>Talle:</label> 
            <p>
              <select name="size_id">
               <option value="" disabled selected>Elegir Talle</option>
               <% sizes.forEach(size => { %>
               <option value="<%= size.id %>"><%= size.size %> </option>
               <% }) %>
              </select>
          </p>
             
          </div>
          <div class="control-formulario">
            <label>Descripcion:</label> 
            <textarea name="description"  class="control <%= locals.errors && errors.description ? "is-invalid": null %>" id
              = "description"><%= locals.oldData ? oldData.description :null %></textarea>
            <% if (locals.errors && errors.description){ %> 
              <div class="text-danger">
                  <%= errors.description.msg %> 
              </div>
              <% } %>  
              <div id="div-description">

              </div>
          </div>
           
         
         
          <div class="control-formulario">
            <label>Foto del Producto:</label>
            <input type="file" name="image" placeholder="IMAGEN" class="control" id="image">
            <% if (locals.errors && errors.image){ %> 
              <div class="text-danger">
                  <%= errors.image.msg %> 
              </div>
              <% } %> 
              <div id="div-image"> 

              </div>
          </div>
          <div class="control-formulario">
            <div class="radio-button-container" >
              <label>Esta en Oferta:</label>
              <input type="radio" name="sale" class = "radio-button__radio">
            </div>
          </div>
          <div class="control-formulario">
            <div class="radio-button-container" >
              <label>Nueva Temporada:</label>
              <input type="radio" name="newseason" class = "radio-button__radio">
            </div>
          </div>
          <button type="submit" class="botton-form">Crear Producto</button> 
      </form>

    <%- include("../partial/footer.ejs") %> 
    <script src="/js/validatorCreate.js"></script>
</body>
</html>